import(RAutoGenRunTime)
import(methods)
import(bitops)
importFrom(utils, "methods")

useDynLib(RCIndex)

export(getCursorLinkage, getCursorLanguage, getCursorKind)

export(getCppClasses, readCppClass)

export(CX_CXXAccessSpecifier, CXLanguageKind, CXLinkageKind, CXTokenKind, CXTypeKind)

export(
children,
clangVersion,
clone,
createIndex,
createTU,
CX_CXXInvalidAccessSpecifier,
CX_CXXPrivate,
CX_CXXProtected,
CX_CXXPublic,
CXChildVisit_Break,
CXChildVisit_Continue,
CXChildVisit_Recurse,
CXCursor_BlockExpr,
CXCursor_CallExpr,
CXCursor_ClassDecl,
CXCursor_ClassTemplate,
CXCursor_ClassTemplatePartialSpecialization,
CXCursor_Constructor,
CXCursor_ConversionFunction,
CXCursor_CXXBaseSpecifier,
CXCursor_CXXMethod,
CXCursor_DeclRefExpr,
CXCursor_Destructor,
CXCursor_EnumConstantDecl,
CXCursor_EnumDecl,
CXCursor_FieldDecl,
CXCursor_FirstAttr,
CXCursor_FirstDecl,
CXCursor_FirstExpr,
CXCursor_FirstInvalid,
CXCursor_FirstPreprocessing,
CXCursor_FirstRef,
CXCursor_FirstStmt,
CXCursor_FunctionDecl,
CXCursor_FunctionTemplate,
CXCursor_IBActionAttr,
CXCursor_IBOutletAttr,
CXCursor_IBOutletCollectionAttr,
CXCursor_InvalidCode,
CXCursor_InvalidFile,
CXCursor_LastAttr,
CXCursor_LastDecl,
CXCursor_LastExpr,
CXCursor_LastInvalid,
CXCursor_LastPreprocessing,
CXCursor_LastRef,
CXCursor_LastStmt,
CXCursor_LinkageSpec,
CXCursor_MacroDefinition,
CXCursor_MacroInstantiation,
CXCursor_MemberRefExpr,
CXCursor_Namespace,
CXCursor_NamespaceAlias,
CXCursor_NamespaceRef,
CXCursor_NoDeclFound,
CXCursor_NonTypeTemplateParameter,
CXCursor_NotImplemented,
CXCursor_ObjCCategoryDecl,
CXCursor_ObjCCategoryImplDecl,
CXCursor_ObjCClassMethodDecl,
CXCursor_ObjCClassRef,
CXCursor_ObjCImplementationDecl,
CXCursor_ObjCInstanceMethodDecl,
CXCursor_ObjCInterfaceDecl,
CXCursor_ObjCIvarDecl,
CXCursor_ObjCMessageExpr,
CXCursor_ObjCPropertyDecl,
CXCursor_ObjCProtocolDecl,
CXCursor_ObjCProtocolRef,
CXCursor_ObjCSuperClassRef,
CXCursor_ParmDecl,
CXCursor_PreprocessingDirective,
CXCursor_StructDecl,
CXCursor_TemplateRef,
CXCursor_TemplateTemplateParameter,
CXCursor_TemplateTypeParameter,
CXCursor_TranslationUnit,
CXCursor_TypedefDecl,
CXCursor_TypeRef,
CXCursor_UnexposedAttr,
CXCursor_UnexposedDecl,
CXCursor_UnexposedExpr,
CXCursor_UnexposedStmt,
CXCursor_UnionDecl,
CXCursor_UsingDeclaration,
CXCursor_UsingDirective,
CXCursor_VarDecl,
CXCursorKind,
#CXDiagnostic_DisplayColumn,
#CXDiagnostic_DisplaySourceLocation,
#CXDiagnostic_DisplaySourceRanges,
CXLanguage_C,
CXLanguage_CPlusPlus,
CXLanguage_Invalid,
CXLanguage_ObjC,
CXLinkage_External,
CXLinkage_Internal,
CXLinkage_Invalid,
CXLinkage_NoLinkage,
CXLinkage_UniqueExternal,
CXToken_Comment,
CXToken_Identifier,
CXToken_Keyword,
CXToken_Literal,
CXToken_Punctuation,
CXType_BlockPointer,
CXType_Bool,
CXType_Char_S,
CXType_Char_U,
CXType_Char16,
CXType_Char32,
CXType_Complex,
CXType_Dependent,
CXType_Double,
CXType_Enum,
CXType_FirstBuiltin,
CXType_Float,
CXType_FunctionNoProto,
CXType_FunctionProto,
CXType_Int,
CXType_Int128,
CXType_Invalid,
CXType_LastBuiltin,
CXType_Long,
CXType_LongDouble,
CXType_LongLong,
CXType_LValueReference,
CXType_NullPtr,
CXType_ObjCClass,
CXType_ObjCId,
CXType_ObjCInterface,
CXType_ObjCObjectPointer,
CXType_ObjCSel,
CXType_Overload,
CXType_Pointer,
CXType_Record,
CXType_RValueReference,
CXType_SChar,
CXType_Short,
CXType_Typedef,
CXType_UChar,
CXType_UInt,
CXType_UInt128,
CXType_ULong,
CXType_ULongLong,
CXType_Unexposed,
CXType_UShort,
CXType_Void,
CXType_WChar,
CXType_ConstantArray,       
genFunctionCollector,
genVariableCollector,
getCallableRoutines,
getCanonicalType,
getFileName,
getName,
getPointeeType,
getResultType,
getTypeDecl,
getTypeDeclaration,
getTypeKind,
isDeclaration,
isDotC,
isDotCall,
isDotCParamType,
isExpression,
isPOD,
isSEXP,
isStatement,
isTranslationUnit,
isUnexposed,
isVirtualBase,
parseTU,
simpleVisitor,
visitChildren,
visitTU)

export(createRegistrationCode)
export(genEnumCollector)
export(getEnums)
export(getFunctions, getRoutines)
export(genCallCollector)

export(getDataStructures)

#export(genTypeCollector)
export(genDataStructCollector)
export(getStructDef)

export(visitCursor)

exportMethods(show, "[", "[[")
export(lapply)
exportMethods(lapply)
export(sapply)
exportMethods(sapply)
export(getType)

S3method(print, FunctionDecl)

exportPattern("^CXCursor_.*")

export(getNumElements, getArraySize, getArrayElementType, getSizeOf, hashCursor)

#exportClass(CXTokenKind)
#export(getTokenKind)

export(getPointerDepth, getPointerInfo)

export(getModule)

export(getCanonicalCursor, isCursorDefinition, isDynamicCall)

export(getNumOverloadedDecls)
#exportClass("EnumerationDefinition")

export(Type_getAlignOf)
export(Type_getOffsetOf)
export(Type_getOffsetOf)

export(Cursor_isNull)
export(Cursor_getNumArguments)
export(Cursor_getArgument)
export(Cursor_isBitField)
export(Cursor_getReceiverType, getReceiverType)
export(Cursor_getRawCommentText, getRawCommentText)
export(Cursor_getBriefCommentText, getBriefCommentText)
export(Cursor_isDynamicCall)
export(Cursor_isNull)
export(Cursor_isBitField)

export(Module_getParent)
export(Module_getName)
export(Module_getFullName)
export(Module_getNumTopLevelHeaders)
export(Module_getTopLevelHeader)


exportMethods("getName")
exportMethods("coerce")

export(equalTypes)
export(isPODType)


export(isCursorDefinition)
export(isVirtualBase)
export(isVolatileQualifiedType)
export(isRestrictQualifiedType)
export(isInvalid)
export(isDeclaration)
export(isReference)
export(isExpression)
export(isStatement)
export(isAttribute)
export(isTranslationUnit)
export(isPreprocessing)
export(isUnexposed)
export(isConstQualifiedType)
export(isFunctionTypeVariadic)
export(isPODType)


export(getFileTime)
export(getFile)
export(getCursorSemanticParent)
export(getCursorLexicalParent)

export(combineCollectors)


export(CXCursorSet_insert)
export(CXCursorSet_contains)


export(Location_isInSystemHeader, isInSystemHeader)

#export(getTranslationUnitSpelling)
export(getTranslationUnitCursor)

export(saveTranslationUnit)

export(defaultReparseOptions)

export(getCursorAvailability)

export(getCursorUSR)

export(isFileMultipleIncludeGuarded)

export(findGlobalUse, getGlobalVariables)
export(findGlobals)

export(getDiagnosticSetFromTU)
export(getDiagnosticInSet)
export(getDiagnostic)
export(getNumDiagnostics)
export(defaultDiagnosticDisplayOptions)
export(getDiagnosticSpelling)
export(getDiagnosticLocation)
export(getDiagnosticSeverity)
export(formatDiagnostic)

export(getCursorTokens, getTokens)
export(getDefines, genDefinesCollector)

export(findCalls)

export(isVoidType, isPointerType, isStringType, isIntegerType)

export(getVariables, genVariablesCollector, genTypedefCollector)
export(getTypedefs) # , getMacros)

#export(disposeIndex)

export(toggleCrashRecovery)
export(getFunctionTypeCallingConv)

exportClasses(CXCallingConv, CXLanguageKind, CXLinkageKind, CX_CXXAccessSpecifier, CXCursorKind)

export(getChildren)

export(getInclusions, getIncludes)

export(getInstantiationLocation,  getCursorExtent, getLocation, getExpansionLocation, getPresumedLocation )

export(getNumArguments, enableStackTraces, getTemplateCursorKind ,CXIndex_setGlobalOptions, CXIndex_getGlobalOptions)
export(defaultSaveOptions, getEnumConstantDeclValue, getFieldDeclBitWidth, getSpecializedCursorTemplate, getElementType)
export(getOverloadedDecl , getNumOverloadedDecls)
export(getEnumDeclIntegerType)

export(getCXTUResourceUsage, getTUResourceUsage)
export(getEnumDeclIntegerType, getTypedefDeclUnderlyingType)

export(equalRanges, equalLocations, equalCursors)

export(getCursorLocation)
export(getRange)

export(getParsedComment, Cursor_getParsedComment)

export(Comment_getKind, Comment_getNumChildren, Comment_getChild, Comment_isWhitespace)

export(getCursorLexicalParent, getCursorSemanticParent)

export(getIncludedFile)

export(getNullCursor, getNullLocation)

export(getCursorDefinition, getCursorReferenced)

exportClasses(S4CursorVisitor, RefCursorVisitor)

export(getCursorTranslationUnit)

export(getNumArgTypes, getArgType, getArgsType)

export(isFnPointer, getFnPointerInfo)

export(makeTikzGraph)
export(makeCallGraph)

export(getQualifiers)

export("CXTranslationUnit_None", "CXTranslationUnit_DetailedPreprocessingRecord", 
"CXTranslationUnit_Incomplete", "CXTranslationUnit_PrecompiledPreamble", 
"CXTranslationUnit_CacheCompletionResults", "CXTranslationUnit_ForSerialization", 
"CXTranslationUnit_CXXChainedPCH", "CXTranslationUnit_SkipFunctionBodies", 
"CXTranslationUnit_IncludeBriefCommentsInCodeCompletion")

export(getParent)

export(isVirtual, isPureVirtual, isConst, isStatic)

export(getPublic)

export(getBinOpOperator)

export(mkIRTemplate)


export(getAncestorByKind)
export(findParentFunction)
